#sidebar {
    position: fixed; 
    left: 0px; 
    top:0px;    
    width: 200px; 
    height: 100%; 
    background:#8296f4; 
    color: white; 
    z-index: 1000; 
}

.sidebar-header {
    padding: 10%; 
}

.sidebar-header h2 {
    position: fixed;
    left: 1%; 
    width: 200px; 
    display: block; 
    padding: 0px 20px 20px 30px; 
    font-family:Arial, Helvetica, sans-serif; 
    z-index: 999; 
}

.decoration {
    position: fixed; 
    left: 20px;
    top: 25px; 
    width: 0.5%; 
    height: 9%;  
    margin-left: 0%; 
    background-color:#3a59ee; 
    z-index: 999; 
}

.list-unstyled a {
    position: relative; 
    top: 80px; 
    padding: 10%;
    display:block;
    text-decoration: none;
    color: white; 
    font-size: 120%; 
}

.list-unstyled a:hover {
    position: relative; 
    top: 80px; 
    padding: 10%;
    display:block;
    text-decoration: none;
    color: white; 
    font-size: 120%; 
    background-color: #3a59ee; 
}

body {
    position: relative;
    width: 80%; 
    height: 100%; 
    left: 20%; 
}

.card {
    width: 45%; 
    margin-top: 1%; 
    margin-bottom: 5%; 
    padding: 2%;
    border-radius: 2px;  
    box-shadow: 0 4px 8px 0 rgba(25, 46, 138, 0.2);
}

.demo {
    width: 95%; 
}

#cowsandbulls {
    padding-top: 1%; 
}
