body {
    background:#F78888;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.781); 
}

h1 {
    columns: #c4675d;;
    text-align: center;
}

.assignment {
    display: flex; 
    background: #90CCF4; 
    margin: 10px; 
}

.assignment img {
    width: 200px;
    border: 5px solid  #3597e2; 
    margin-right: 20px; 
}

a {
    text-decoration: none;
    color: #3597e2; 
}