.container-fluid {
  overflow: hidden;
}

.col-9 {
  background-color: #d7e8f0;
}

@media screen and (max-width: 460px) {
  .col-9 {
    background-color: white;
  }
}

.img {
  vertical-align: text-top;
}

.sidebar-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.nav {
  color: white;
}

.nav img {
  margin: 5%;
}

.nav h1 {
  color: white;
  text-align: left;
  margin-left: 5%;
  margin-top: -16%;
  font-weight: bolder;
}

.nav a {
  text-align: center;
  background-color: #d7e8f0;
  color: #768b46;
  margin-bottom: 5%;
}

.nav p {
  text-align: left;
  margin: 5%;
}

ul {
  list-style-type: none;
  margin-left: -6%;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.content {
  margin: 2%;
}

.articles h1 {
  color: white;
  margin-left: 4%;
  margin-top: -21%;
  font-weight: bolder;
}

.articles img {
  margin-top: 5%;
  margin-bottom: 5%;
}

.articles a {
  text-decoration: none;
  margin-bottom: 12%;
}
